
@import "../node_modules/include-media/dist/include-media";
@import "../node_modules/mathsass/dist/math";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100vh;
  perspective: 40em;
}

#debug {
  font-family: monospace;
  white-space: pre;
  color: #000;
  text-shadow: 0 0 2px #fff;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 5px;
  z-index: 100;
  font-size: 10px;
}

////////////////////////////

#scene {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  overflow: hidden;
}

#scene div {
  position: absolute;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

#root {
  left: 50%;
  top: 50%;
  margin: -5em 0 0 -5em;
  transform: translateY(0)
}

#root div {
  transition: all 0.3s;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.rot {
  &.object-1 {
    animation: 5s rotate linear;
    animation-iteration-count: infinite;
  }
}

.pos {
  &.object-1 {
    transform: translateY(5em) translateX(-25em);
  }
  &.object-2 {
    transform: translateY(5em) translateX(0em);
  }
  &.object-3 {
    transform: translateY(5em) translateX(25em);
  }
}

.face {
  border: 1px solid fade-out(#f00, 0.5);
  background-color: fade-out(#00f, .75);
  width: 10em;
  height: 10em;
  &:hover {
    background-color: fade-out(#f00, .75);
  }
}

.shape[counter="1"] .face {
  &:nth-child(1) {
    transform: translateZ(-5em);
  }
  &:nth-child(2) {
    transform: translateZ(5em);
  }
  &:nth-child(3) {
    transform: translateX(-5em);
  }
  &:nth-child(4) {
    transform: translateX(5em);
  }
  &:nth-child(5) {
    transform: translateY(-5em);
  }
  &:nth-child(6) {
    transform: translateY(5em);
  }
}

.shape[counter="2"] .face {
  &:nth-child(1) {
    transform: translateZ(-10em);
  }
  &:nth-child(2) {
    transform: translateZ(10em);
  }
  &:nth-child(3) {
    transform: translateX(-10em) rotateY(90deg);
  }
  &:nth-child(4) {
    transform: translateX(10em) rotateY(90deg);
  }
  &:nth-child(5) {
    transform: translateY(-10em) rotateX(90deg);
  }
  &:nth-child(6) {
    transform: translateY(10em) rotateX(90deg);
  }
}

.shape[counter="3"] .face {
  &:nth-child(1) {
    transform: translateZ(-5em);
  }
  &:nth-child(2) {
    transform: translateZ(5em);
  }
  &:nth-child(3) {
    transform: translateX(-5em) rotateY(90deg);
  }
  &:nth-child(4) {
    transform: translateX(5em) rotateY(90deg);
  }
  &:nth-child(5) {
    transform: translateY(-5em) rotateX(90deg);
  }
  &:nth-child(6) {
    transform: translateY(5em) rotateX(90deg);
  }
}

.textured {
}

.floor {
  left: -25em;
  width: 50em;
  height: 200em;
  background-image: url("../textures/pavement.jpg");
  transform: translateY(-10em) rotateX(90deg);
}

.wall {
  left: -10em;
  top: -20em;
  width: 20em;
  height: 200em;
  background-image: url("../textures/04mura.jpg");
  &.-left {
    transform: translateX(-25em) rotateX(90deg) rotateY(90deg);
  }
  &.-right {
    transform: translateX(25em) rotateX(90deg) rotateY(90deg);
  }
}
